In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
outerIndex = ["Grup1","Grup1","Grup1","Grup2","Grup2","Grup2","Grup3","Grup3","Grup3"]

In [4]:
innerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [6]:
hiyerarsi = list(zip(outerIndex,innerIndex))

In [7]:
hiyerarsi

[('Grup1', 'Index1'),
 ('Grup1', 'Index2'),
 ('Grup1', 'Index3'),
 ('Grup2', 'Index1'),
 ('Grup2', 'Index2'),
 ('Grup2', 'Index3'),
 ('Grup3', 'Index1'),
 ('Grup3', 'Index2'),
 ('Grup3', 'Index3')]

In [8]:
 hiyerarsi = pd.MultiIndex.from_tuples(hiyerarsi)

In [9]:
hiyerarsi

MultiIndex([('Grup1', 'Index1'),
            ('Grup1', 'Index2'),
            ('Grup1', 'Index3'),
            ('Grup2', 'Index1'),
            ('Grup2', 'Index2'),
            ('Grup2', 'Index3'),
            ('Grup3', 'Index1'),
            ('Grup3', 'Index2'),
            ('Grup3', 'Index3')],
           )

In [10]:
df = pd.DataFrame(randn(9,3),hiyerarsi,["Column1","Column2","Column3"])

In [11]:
df

               Column1   Column2   Column3
Grup1 Index1 -0.317793  1.141676 -1.021938
      Index2 -1.531332 -0.593226 -0.138124
      Index3  0.209184  1.888667  1.699283
Grup2 Index1  1.021676  0.272666 -0.700912
      Index2  1.690909 -0.233450  0.010106
      Index3 -0.152261 -0.148497  0.955620
Grup3 Index1 -0.252855  0.885861  1.475809
      Index2 -0.935207 -0.621830 -1.000416
      Index3  0.924544 -1.683811 -0.579724

**Access**

In [13]:
df["Column1"]

Grup1  Index1   -0.317793
       Index2   -1.531332
       Index3    0.209184
Grup2  Index1    1.021676
       Index2    1.690909
       Index3   -0.152261
Grup3  Index1   -0.252855
       Index2   -0.935207
       Index3    0.924544
Name: Column1, dtype: float64

In [14]:
df.loc["Grup1"]

         Column1   Column2   Column3
Index1 -0.317793  1.141676 -1.021938
Index2 -1.531332 -0.593226 -0.138124
Index3  0.209184  1.888667  1.699283

In [15]:
df.loc["Grup1"].loc["Index1"]

Column1   -0.317793
Column2    1.141676
Column3   -1.021938
Name: Index1, dtype: float64

**Set names to index**

In [16]:
df.index.names=["Gruplar","Indexler"]

In [17]:
df

                   Column1   Column2   Column3
Gruplar Indexler
Grup1   Index1   -0.317793  1.141676 -1.021938
        Index2   -1.531332 -0.593226 -0.138124
        Index3    0.209184  1.888667  1.699283
Grup2   Index1    1.021676  0.272666 -0.700912
        Index2    1.690909 -0.233450  0.010106
        Index3   -0.152261 -0.148497  0.955620
Grup3   Index1   -0.252855  0.885861  1.475809
        Index2   -0.935207 -0.621830 -1.000416
        Index3    0.924544 -1.683811 -0.579724

**Access with xs**

In [18]:
df.xs("Grup1") # df.loc["Grup1"]

           Column1   Column2   Column3
Indexler
Index1   -0.317793  1.141676 -1.021938
Index2   -1.531332 -0.593226 -0.138124
Index3    0.209184  1.888667  1.699283

In [19]:
df.xs("Grup1").xs("Index1") # df.loc["Grup1"].loc["Index1"]

Column1   -0.317793
Column2    1.141676
Column3   -1.021938
Name: Index1, dtype: float64

In [20]:
df.xs("Grup1").xs("Index1").xs("Column1")

-0.3177934036952262

**Access inside**

In [21]:
df.xs("Index1",level="Indexler")  # level which index

          Column1   Column2   Column3
Gruplar
Grup1   -0.317793  1.141676 -1.021938
Grup2    1.021676  0.272666 -0.700912
Grup3   -0.252855  0.885861  1.475809