In [1]:
import numpy as np
import pandas as pd

In [2]:
arr = np.array([[10,20,np.nan],[5,np.nan,np.nan],[21,np.nan,10]])

In [3]:
arr

array([[10., 20., nan],
       [ 5., nan, nan],
       [21., nan, 10.]])

In [4]:
df = pd.DataFrame(arr,index=["Index1","Index2","Index3"],columns=["Column1","Column2","Column3"])

In [5]:
df

        Column1  Column2  Column3
Index1     10.0     20.0      NaN
Index2      5.0      NaN      NaN
Index3     21.0      NaN     10.0

In [6]:
df.dropna() # all index have Nan data. so not return

Empty DataFrame
Columns: [Column1, Column2, Column3]
Index: []