In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
df = pd.DataFrame(data=randn(4,3),index=["A","B","C","D"],columns=["Column1","Column2","Column3"])

In [4]:
df

    Column1   Column2   Column3
A -0.630886 -0.220474  0.313472
B -0.390383  1.005909  0.322970
C -2.358537 -1.255749 -1.409572
D -0.127477  2.585245 -0.854924

**Example 1**

In [5]:
df > -1

   Column1  Column2  Column3
A     True     True     True
B     True     True     True
C    False    False    False
D     True     True     True

In [6]:
df[df > -1]

    Column1   Column2   Column3
A -0.630886 -0.220474  0.313472
B -0.390383  1.005909  0.322970
C       NaN       NaN       NaN
D -0.127477  2.585245 -0.854924

**Example 2**

In [7]:
df = pd.DataFrame(data=randn(4,3),index=["A","B","C","D"],columns=["Column1","Column2","Column3"])

In [8]:
df

    Column1   Column2   Column3
A -1.646327 -0.096204 -0.131862
B  2.916314 -0.379471  1.457705
C  1.070223 -0.492202 -1.152584
D  0.225400  0.330866 -0.464349

In [9]:
df["Column1"]  > 0

A    False
B     True
C     True
D     True
Name: Column1, dtype: bool

In [11]:
df[df["Column1"]  > 0] # A index not show because A index -> False

    Column1   Column2   Column3
B  2.916314 -0.379471  1.457705
C  1.070223 -0.492202 -1.152584
D  0.225400  0.330866 -0.464349

**Multi Filter**

In [14]:
df = pd.DataFrame(data=randn(4,3),index=["A","B","C","D"],columns=["Column1","Column2","Column3"])

In [15]:
df

    Column1   Column2   Column3
A -0.421112 -0.516872  0.054977
B -1.609702 -0.167715 -0.065937
C -0.357782  0.036911  0.855524
D -0.335578  0.427020  1.438594

In [17]:
df[(df["Column1"]  > -1) & (df["Column3"]  > -1)]   # & => and

    Column1   Column2   Column3
A -0.421112 -0.516872  0.054977
C -0.357782  0.036911  0.855524
D -0.335578  0.427020  1.438594

In [18]:
df[(df["Column1"]  > -1) | (df["Column3"]  > -1)]   # | => or

    Column1   Column2   Column3
A -0.421112 -0.516872  0.054977
B -1.609702 -0.167715 -0.065937
C -0.357782  0.036911  0.855524
D -0.335578  0.427020  1.438594

In [19]:
df[(df["Column1"]  > 0) & (df["Column3"]  > 0)]

Empty DataFrame
Columns: [Column1, Column2, Column3]
Index: []

In [20]:
df[(df["Column1"]  > 0) | (df["Column3"]  > 0)]

    Column1   Column2   Column3
A -0.421112 -0.516872  0.054977
C -0.357782  0.036911  0.855524
D -0.335578  0.427020  1.438594